
.centering{
    display:flex;
}
#rubrikkanye{
    text-align: center;
}
.topright{
    position: absolute;
    top: 22%;
    right: 16%;
}
p{
    font-size: 20px;
    font-weight: bold;

}
#bildpåkanye{
    object-position: right middle;
    width: 500px;
    height: 300px;
}
   
button{ 
    width: 30%;
    height: 5vw;
    position: absolute;
    left: 70vw;
    top: 40vh;
    transform: translate(-50%,-80%);
    font-family: 'Varela round', sans-serif;
    font-size: 2vw;
    letter-spacing: 0.1em;
    color:black;
    font-weight: bold;
    border:none;
    border-radius:10px;
    outline:none;
    background: linear-gradient(blue, lightblue, greenyellow);
    background-size:400% 400%;
    box-shadow: 1vw 1vw black;
  
    &:hover{
      animation:gradient 10s ease infintie;
      font-size: 2.05vw;
      box-shadow: 0.2vw 0.2vw 0 darkblue;
    }
  }
  